<%= turbo_frame_tag "modal" do %>
  <div class="max-w-md mx-auto mt-12 bg-white p-8 rounded-2xl shadow">
    <h2 class="text-2xl font-bold mb-6 text-gray-800 text-center">Crear cuenta</h2>

    <% if resource.errors.any? %>
      <div class="bg-red-100 text-red-700 px-4 py-2 rounded mb-4 text-sm">
        <ul class="list-disc pl-5">
          <% resource.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form_with scope: :user, url: registration_path(:user), method: :post,  data: { turbo: false }, class: "space-y-4" do |f| %>
      <div>
        <%= f.label :email, "Email", class: "block text-sm font-medium text-gray-700" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email",
              class: "mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500" %>
      </div>

      <div>
        <%= f.label :password, "Contraseña", class: "block text-sm font-medium text-gray-700" %>
        <%= f.password_field :password, autocomplete: "new-password",
              class: "mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500" %>
      </div>

      <div>
        <%= f.label :password_confirmation, "Confirmación de contraseña", class: "block text-sm font-medium text-gray-700" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password",
              class: "mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500" %>
      </div>

      <div>
        <%= f.submit "Registrarse", class: "w-full bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700 transition" %>
      </div>
    <% end %>

    <div class="text-sm text-center text-gray-500 mt-4">
      ¿Ya tenés cuenta?
      <%= link_to "Iniciar sesión", new_user_session_path, class: "text-blue-600 hover:underline" %>
    </div>
  </div>
<% end %>