<div class="bg-white rounded-2xl shadow overflow-hidden transactions-table">
  <table class="w-full text-sm text-gray-700">
    <thead class="bg-gray-50 border-b">
      <tr>
        <th class="p-4 text-left"><%= t(".date") %></th>
        <th class="p-4 text-left"><%= t(".description") %></th>
        <th class="p-4 text-right"><%= t(".amount") %></th>
        <th class="p-4 text-left"><%= t(".account") %></th>
        <th class="p-4 text-left"><%= t(".tags") %></th>
      </tr>
    </thead>
    <tbody>
      <% @transactions.each do |t| %>
        <tr class="border-b hover:bg-gray-50 transition">
          <td class="p-4"><%= t.date.strftime("%d %b %Y") %></td>
          <td class="p-4"><%= t.description %></td>
          <td class="p-4 text-right font-semibold <%= ['expense', 'transfer_out'].include?(t.txn_kind) ? 'text-red-500' : 'text-green-600' %>">
            <%= number_to_currency(t.amount) %>
          </td>
          <td class="p-4"><%= t.account.name %></td>
          <td class="p-4">
            <% t.tags.each do |tag| %>
              <span class="inline-block bg-gray-100 text-gray-700 px-2 py-1 text-xs rounded-full mr-1 mb-1">
                <%= tag.name %>
              </span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
